In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

veriler = pd.read_csv("odev_tenis.csv.opdownload")
veriler.head()

    outlook  temperature  humidity  windy play
0     sunny           85        85  False   no
1     sunny           80        90   True   no
2  overcast           83        86  False  yes
3     rainy           70        96  False  yes
4     rainy           68        80  False  yes

In [4]:
play = veriler.iloc[:,-1:].values

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
play[:,-1] = le.fit_transform(veriler.iloc[:,-1])
print(play)
veriler["play"] = play
veriler.head()

[[0]
 [0]
 [1]
 [1]
 [1]
 [0]
 [1]
 [0]
 [1]
 [1]
 [1]
 [1]
 [1]
 [0]]

    outlook  temperature  humidity  windy play
0     sunny           85        85  False    0
1     sunny           80        90   True    0
2  overcast           83        86  False    1
3     rainy           70        96  False    1
4     rainy           68        80  False    1

In [10]:
windy = veriler.iloc[:,-2:-1].values
windy[:,-1] = le.fit_transform(veriler.iloc[:,-1])
print(windy)

[[False]
 [False]
 [ True]
 [ True]
 [ True]
 [False]
 [ True]
 [False]
 [ True]
 [ True]
 [ True]
 [ True]
 [ True]
 [False]]

In [11]:
veriler = pd.read_csv("odev_tenis.csv.opdownload")

In [17]:
veriler2 = veriler.apply(preprocessing.LabelEncoder().fit_transform)
c = veriler2.iloc[:,:1]
ohe = preprocessing.OneHotEncoder()
c = ohe.fit_transform(c).toarray()
print(c)
veriler2.head()

[[0. 0. 1.]
 [0. 0. 1.]
 [1. 0. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [0. 1. 0.]
 [1. 0. 0.]
 [0. 0. 1.]
 [0. 0. 1.]
 [0. 1. 0.]
 [0. 0. 1.]
 [1. 0. 0.]
 [1. 0. 0.]
 [0. 1. 0.]]

   outlook  temperature  humidity  windy  play
0        2           11         4      0     0
1        2            8         6      1     0
2        0           10         5      0     1
3        1            4         9      0     1
4        1            2         3      0     1

In [20]:
hava_durumu = pd.DataFrame(data = c, index = range(14), columns = ["o","r","s"])
son_veriler = pd.concat([hava_durumu,veriler.iloc[:,1:3]],axis = 1)
son_veriler.head()

     o    r    s  temperature  humidity
0  0.0  0.0  1.0           85        85
1  0.0  0.0  1.0           80        90
2  1.0  0.0  0.0           83        86
3  0.0  1.0  0.0           70        96
4  0.0  1.0  0.0           68        80

In [21]:
son_veriler = pd.concat([son_veriler,veriler2.iloc[:-2:]],axis = 1)
son_veriler.head()

,o,r,s,temperature,humidity,outlook,temperature,humidity,windy,play
0,0.0,0.0,1.0,85,85,2.0,11.0,4.0,0.0,0.0
1,0.0,0.0,1.0,80,90,2.0,8.0,6.0,1.0,0.0
2,1.0,0.0,0.0,83,86,0.0,10.0,5.0,0.0,1.0
3,0.0,1.0,0.0,70,96,1.0,4.0,9.0,0.0,1.0
4,0.0,1.0,0.0,68,80,1.0,2.0,3.0,0.0,1.0

In [4]:
from sklearn import preprocessing
veriler = pd.read_csv("odev_tenis.csv.opdownload")
veriler2 = veriler.apply(preprocessing.LabelEncoder().fit_transform)
c = veriler2.iloc[:,:1]
ohe = preprocessing.OneHotEncoder()
c = ohe.fit_transform(c).toarray()
hava_durumu = pd.DataFrame(data = c, index = range(14), columns = ["o","r","s"])
son_veriler = pd.concat([hava_durumu,veriler.iloc[:,1:3]],axis = 1)
son_veriler = pd.concat([son_veriler,veriler2.iloc[:-2:]],axis = 1)
son_veriler.head()

,o,r,s,temperature,humidity,outlook,temperature,humidity,windy,play
0,0.0,0.0,1.0,85,85,2.0,11.0,4.0,0.0,0.0
1,0.0,0.0,1.0,80,90,2.0,8.0,6.0,1.0,0.0
2,1.0,0.0,0.0,83,86,0.0,10.0,5.0,0.0,1.0
3,0.0,1.0,0.0,70,96,1.0,4.0,9.0,0.0,1.0
4,0.0,1.0,0.0,68,80,1.0,2.0,3.0,0.0,1.0

In [ ]:
son_veriler = son_veriler - son_veriler.iloc[:,5:8]
son_veriler.head()

In [ ]:
son_veriler.iloc[]